<h1>Listing post364s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post364s.each do |post364| %>
  <tr>
    <td><%= link_to 'Show', post364 %></td>
    <td><%= link_to 'Edit', edit_post364_path(post364) %></td>
    <td><%= link_to 'Destroy', post364, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post364', new_post364_path %>
