<h1>Listing post215s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post215s.each do |post215| %>
  <tr>
    <td><%= link_to 'Show', post215 %></td>
    <td><%= link_to 'Edit', edit_post215_path(post215) %></td>
    <td><%= link_to 'Destroy', post215, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post215', new_post215_path %>
