<h1>Listing post87s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post87s.each do |post87| %>
  <tr>
    <td><%= link_to 'Show', post87 %></td>
    <td><%= link_to 'Edit', edit_post87_path(post87) %></td>
    <td><%= link_to 'Destroy', post87, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post87', new_post87_path %>
