<h1>Listing post447s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post447s.each do |post447| %>
  <tr>
    <td><%= link_to 'Show', post447 %></td>
    <td><%= link_to 'Edit', edit_post447_path(post447) %></td>
    <td><%= link_to 'Destroy', post447, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post447', new_post447_path %>
