<h1>Listing post156s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post156s.each do |post156| %>
  <tr>
    <td><%= link_to 'Show', post156 %></td>
    <td><%= link_to 'Edit', edit_post156_path(post156) %></td>
    <td><%= link_to 'Destroy', post156, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post156', new_post156_path %>
