<h1>Listing post254s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post254s.each do |post254| %>
  <tr>
    <td><%= link_to 'Show', post254 %></td>
    <td><%= link_to 'Edit', edit_post254_path(post254) %></td>
    <td><%= link_to 'Destroy', post254, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post254', new_post254_path %>
