<h1>Listing post339s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post339s.each do |post339| %>
  <tr>
    <td><%= link_to 'Show', post339 %></td>
    <td><%= link_to 'Edit', edit_post339_path(post339) %></td>
    <td><%= link_to 'Destroy', post339, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post339', new_post339_path %>
