<h1>Listing post449s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post449s.each do |post449| %>
  <tr>
    <td><%= link_to 'Show', post449 %></td>
    <td><%= link_to 'Edit', edit_post449_path(post449) %></td>
    <td><%= link_to 'Destroy', post449, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post449', new_post449_path %>
