<%= form_for(@post214) do |f| %>
  <% if @post214.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post214.errors.count, "error") %> prohibited this post214 from being saved:</h2>

      <ul>
      <% @post214.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
