<h1>Listing post290s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post290s.each do |post290| %>
  <tr>
    <td><%= link_to 'Show', post290 %></td>
    <td><%= link_to 'Edit', edit_post290_path(post290) %></td>
    <td><%= link_to 'Destroy', post290, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post290', new_post290_path %>
