<h1>Listing post66s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post66s.each do |post66| %>
  <tr>
    <td><%= link_to 'Show', post66 %></td>
    <td><%= link_to 'Edit', edit_post66_path(post66) %></td>
    <td><%= link_to 'Destroy', post66, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post66', new_post66_path %>
