<h1>Listing post389s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post389s.each do |post389| %>
  <tr>
    <td><%= link_to 'Show', post389 %></td>
    <td><%= link_to 'Edit', edit_post389_path(post389) %></td>
    <td><%= link_to 'Destroy', post389, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post389', new_post389_path %>
