<h1>Listing post413s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post413s.each do |post413| %>
  <tr>
    <td><%= link_to 'Show', post413 %></td>
    <td><%= link_to 'Edit', edit_post413_path(post413) %></td>
    <td><%= link_to 'Destroy', post413, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post413', new_post413_path %>
