<h1>Listing post304s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post304s.each do |post304| %>
  <tr>
    <td><%= link_to 'Show', post304 %></td>
    <td><%= link_to 'Edit', edit_post304_path(post304) %></td>
    <td><%= link_to 'Destroy', post304, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post304', new_post304_path %>
