<%= form_for(@post309) do |f| %>
  <% if @post309.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post309.errors.count, "error") %> prohibited this post309 from being saved:</h2>

      <ul>
      <% @post309.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
