<h1>Listing post218s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post218s.each do |post218| %>
  <tr>
    <td><%= link_to 'Show', post218 %></td>
    <td><%= link_to 'Edit', edit_post218_path(post218) %></td>
    <td><%= link_to 'Destroy', post218, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post218', new_post218_path %>
