<%= form_for(@post371) do |f| %>
  <% if @post371.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post371.errors.count, "error") %> prohibited this post371 from being saved:</h2>

      <ul>
      <% @post371.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
