<%= form_for(@post228) do |f| %>
  <% if @post228.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post228.errors.count, "error") %> prohibited this post228 from being saved:</h2>

      <ul>
      <% @post228.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
