<h1>Listing post86s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post86s.each do |post86| %>
  <tr>
    <td><%= link_to 'Show', post86 %></td>
    <td><%= link_to 'Edit', edit_post86_path(post86) %></td>
    <td><%= link_to 'Destroy', post86, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post86', new_post86_path %>
