<%= form_for(@post419) do |f| %>
  <% if @post419.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post419.errors.count, "error") %> prohibited this post419 from being saved:</h2>

      <ul>
      <% @post419.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
