<h1>Listing post419s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post419s.each do |post419| %>
  <tr>
    <td><%= link_to 'Show', post419 %></td>
    <td><%= link_to 'Edit', edit_post419_path(post419) %></td>
    <td><%= link_to 'Destroy', post419, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post419', new_post419_path %>
