<%= form_for(@post195) do |f| %>
  <% if @post195.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post195.errors.count, "error") %> prohibited this post195 from being saved:</h2>

      <ul>
      <% @post195.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
