<%= form_for(@post302) do |f| %>
  <% if @post302.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post302.errors.count, "error") %> prohibited this post302 from being saved:</h2>

      <ul>
      <% @post302.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
