<h1>Listing post302s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post302s.each do |post302| %>
  <tr>
    <td><%= link_to 'Show', post302 %></td>
    <td><%= link_to 'Edit', edit_post302_path(post302) %></td>
    <td><%= link_to 'Destroy', post302, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post302', new_post302_path %>
