<%= form_for(@post366) do |f| %>
  <% if @post366.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post366.errors.count, "error") %> prohibited this post366 from being saved:</h2>

      <ul>
      <% @post366.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
