<%= form_for(@post87) do |f| %>
  <% if @post87.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post87.errors.count, "error") %> prohibited this post87 from being saved:</h2>

      <ul>
      <% @post87.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
