<h1>Listing post261s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post261s.each do |post261| %>
  <tr>
    <td><%= link_to 'Show', post261 %></td>
    <td><%= link_to 'Edit', edit_post261_path(post261) %></td>
    <td><%= link_to 'Destroy', post261, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post261', new_post261_path %>
