<h1>Listing post38s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post38s.each do |post38| %>
  <tr>
    <td><%= link_to 'Show', post38 %></td>
    <td><%= link_to 'Edit', edit_post38_path(post38) %></td>
    <td><%= link_to 'Destroy', post38, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post38', new_post38_path %>
