<h1>Listing post480s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post480s.each do |post480| %>
  <tr>
    <td><%= link_to 'Show', post480 %></td>
    <td><%= link_to 'Edit', edit_post480_path(post480) %></td>
    <td><%= link_to 'Destroy', post480, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post480', new_post480_path %>
