<h1>Listing post77s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post77s.each do |post77| %>
  <tr>
    <td><%= link_to 'Show', post77 %></td>
    <td><%= link_to 'Edit', edit_post77_path(post77) %></td>
    <td><%= link_to 'Destroy', post77, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post77', new_post77_path %>
