<h1>Listing post267s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post267s.each do |post267| %>
  <tr>
    <td><%= link_to 'Show', post267 %></td>
    <td><%= link_to 'Edit', edit_post267_path(post267) %></td>
    <td><%= link_to 'Destroy', post267, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post267', new_post267_path %>
