<h1>Listing post376s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post376s.each do |post376| %>
  <tr>
    <td><%= link_to 'Show', post376 %></td>
    <td><%= link_to 'Edit', edit_post376_path(post376) %></td>
    <td><%= link_to 'Destroy', post376, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post376', new_post376_path %>
