<%= form_for(@post112) do |f| %>
  <% if @post112.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post112.errors.count, "error") %> prohibited this post112 from being saved:</h2>

      <ul>
      <% @post112.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
