<%= form_for(@post234) do |f| %>
  <% if @post234.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post234.errors.count, "error") %> prohibited this post234 from being saved:</h2>

      <ul>
      <% @post234.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
