<h1>Listing post297s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post297s.each do |post297| %>
  <tr>
    <td><%= link_to 'Show', post297 %></td>
    <td><%= link_to 'Edit', edit_post297_path(post297) %></td>
    <td><%= link_to 'Destroy', post297, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post297', new_post297_path %>
