<h1>Listing post372s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post372s.each do |post372| %>
  <tr>
    <td><%= link_to 'Show', post372 %></td>
    <td><%= link_to 'Edit', edit_post372_path(post372) %></td>
    <td><%= link_to 'Destroy', post372, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post372', new_post372_path %>
