<%= form_for(@post73) do |f| %>
  <% if @post73.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post73.errors.count, "error") %> prohibited this post73 from being saved:</h2>

      <ul>
      <% @post73.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
