<%= form_for(@post191) do |f| %>
  <% if @post191.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post191.errors.count, "error") %> prohibited this post191 from being saved:</h2>

      <ul>
      <% @post191.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
