<h1>Listing post425s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post425s.each do |post425| %>
  <tr>
    <td><%= link_to 'Show', post425 %></td>
    <td><%= link_to 'Edit', edit_post425_path(post425) %></td>
    <td><%= link_to 'Destroy', post425, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post425', new_post425_path %>
