<h1>Listing post489s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post489s.each do |post489| %>
  <tr>
    <td><%= link_to 'Show', post489 %></td>
    <td><%= link_to 'Edit', edit_post489_path(post489) %></td>
    <td><%= link_to 'Destroy', post489, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post489', new_post489_path %>
