<h1>Listing post374s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post374s.each do |post374| %>
  <tr>
    <td><%= link_to 'Show', post374 %></td>
    <td><%= link_to 'Edit', edit_post374_path(post374) %></td>
    <td><%= link_to 'Destroy', post374, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post374', new_post374_path %>
