<h1>Listing post202s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post202s.each do |post202| %>
  <tr>
    <td><%= link_to 'Show', post202 %></td>
    <td><%= link_to 'Edit', edit_post202_path(post202) %></td>
    <td><%= link_to 'Destroy', post202, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post202', new_post202_path %>
