<h1>Listing post325s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post325s.each do |post325| %>
  <tr>
    <td><%= link_to 'Show', post325 %></td>
    <td><%= link_to 'Edit', edit_post325_path(post325) %></td>
    <td><%= link_to 'Destroy', post325, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post325', new_post325_path %>
