<h1>Listing post400s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post400s.each do |post400| %>
  <tr>
    <td><%= link_to 'Show', post400 %></td>
    <td><%= link_to 'Edit', edit_post400_path(post400) %></td>
    <td><%= link_to 'Destroy', post400, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post400', new_post400_path %>
