<h1>Listing post30s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post30s.each do |post30| %>
  <tr>
    <td><%= link_to 'Show', post30 %></td>
    <td><%= link_to 'Edit', edit_post30_path(post30) %></td>
    <td><%= link_to 'Destroy', post30, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post30', new_post30_path %>
