<%= form_for(@post312) do |f| %>
  <% if @post312.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post312.errors.count, "error") %> prohibited this post312 from being saved:</h2>

      <ul>
      <% @post312.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
