<%= form_for(@post281) do |f| %>
  <% if @post281.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post281.errors.count, "error") %> prohibited this post281 from being saved:</h2>

      <ul>
      <% @post281.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
