<%= form_for(@post235) do |f| %>
  <% if @post235.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post235.errors.count, "error") %> prohibited this post235 from being saved:</h2>

      <ul>
      <% @post235.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
