<%= form_for(@post323) do |f| %>
  <% if @post323.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post323.errors.count, "error") %> prohibited this post323 from being saved:</h2>

      <ul>
      <% @post323.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
