<h1>Listing post241s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post241s.each do |post241| %>
  <tr>
    <td><%= link_to 'Show', post241 %></td>
    <td><%= link_to 'Edit', edit_post241_path(post241) %></td>
    <td><%= link_to 'Destroy', post241, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post241', new_post241_path %>
