<h1>Listing post402s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post402s.each do |post402| %>
  <tr>
    <td><%= link_to 'Show', post402 %></td>
    <td><%= link_to 'Edit', edit_post402_path(post402) %></td>
    <td><%= link_to 'Destroy', post402, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post402', new_post402_path %>
