<h1>Listing post322s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post322s.each do |post322| %>
  <tr>
    <td><%= link_to 'Show', post322 %></td>
    <td><%= link_to 'Edit', edit_post322_path(post322) %></td>
    <td><%= link_to 'Destroy', post322, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post322', new_post322_path %>
