<h1>Listing post90s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post90s.each do |post90| %>
  <tr>
    <td><%= link_to 'Show', post90 %></td>
    <td><%= link_to 'Edit', edit_post90_path(post90) %></td>
    <td><%= link_to 'Destroy', post90, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post90', new_post90_path %>
