<h1>Listing post199s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post199s.each do |post199| %>
  <tr>
    <td><%= link_to 'Show', post199 %></td>
    <td><%= link_to 'Edit', edit_post199_path(post199) %></td>
    <td><%= link_to 'Destroy', post199, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post199', new_post199_path %>
