<%= form_for(@post204) do |f| %>
  <% if @post204.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post204.errors.count, "error") %> prohibited this post204 from being saved:</h2>

      <ul>
      <% @post204.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
