<h1>Listing post88s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post88s.each do |post88| %>
  <tr>
    <td><%= link_to 'Show', post88 %></td>
    <td><%= link_to 'Edit', edit_post88_path(post88) %></td>
    <td><%= link_to 'Destroy', post88, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post88', new_post88_path %>
