<h1>Listing post383s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post383s.each do |post383| %>
  <tr>
    <td><%= link_to 'Show', post383 %></td>
    <td><%= link_to 'Edit', edit_post383_path(post383) %></td>
    <td><%= link_to 'Destroy', post383, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post383', new_post383_path %>
