<%= form_for(@post152) do |f| %>
  <% if @post152.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post152.errors.count, "error") %> prohibited this post152 from being saved:</h2>

      <ul>
      <% @post152.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
