<h1>Listing post29s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post29s.each do |post29| %>
  <tr>
    <td><%= link_to 'Show', post29 %></td>
    <td><%= link_to 'Edit', edit_post29_path(post29) %></td>
    <td><%= link_to 'Destroy', post29, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post29', new_post29_path %>
