<h1>Listing post15s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post15s.each do |post15| %>
  <tr>
    <td><%= link_to 'Show', post15 %></td>
    <td><%= link_to 'Edit', edit_post15_path(post15) %></td>
    <td><%= link_to 'Destroy', post15, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post15', new_post15_path %>
