<h1>Listing post387s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post387s.each do |post387| %>
  <tr>
    <td><%= link_to 'Show', post387 %></td>
    <td><%= link_to 'Edit', edit_post387_path(post387) %></td>
    <td><%= link_to 'Destroy', post387, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post387', new_post387_path %>
