<h1>Listing post316s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post316s.each do |post316| %>
  <tr>
    <td><%= link_to 'Show', post316 %></td>
    <td><%= link_to 'Edit', edit_post316_path(post316) %></td>
    <td><%= link_to 'Destroy', post316, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post316', new_post316_path %>
