<h1>Listing post47s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post47s.each do |post47| %>
  <tr>
    <td><%= link_to 'Show', post47 %></td>
    <td><%= link_to 'Edit', edit_post47_path(post47) %></td>
    <td><%= link_to 'Destroy', post47, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post47', new_post47_path %>
