<h1>Listing post42s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post42s.each do |post42| %>
  <tr>
    <td><%= link_to 'Show', post42 %></td>
    <td><%= link_to 'Edit', edit_post42_path(post42) %></td>
    <td><%= link_to 'Destroy', post42, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post42', new_post42_path %>
