<h1>Listing post139s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post139s.each do |post139| %>
  <tr>
    <td><%= link_to 'Show', post139 %></td>
    <td><%= link_to 'Edit', edit_post139_path(post139) %></td>
    <td><%= link_to 'Destroy', post139, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post139', new_post139_path %>
