<h1>Listing post483s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post483s.each do |post483| %>
  <tr>
    <td><%= link_to 'Show', post483 %></td>
    <td><%= link_to 'Edit', edit_post483_path(post483) %></td>
    <td><%= link_to 'Destroy', post483, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post483', new_post483_path %>
