<%= form_for(@post58) do |f| %>
  <% if @post58.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post58.errors.count, "error") %> prohibited this post58 from being saved:</h2>

      <ul>
      <% @post58.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
