<h1>Listing post33s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post33s.each do |post33| %>
  <tr>
    <td><%= link_to 'Show', post33 %></td>
    <td><%= link_to 'Edit', edit_post33_path(post33) %></td>
    <td><%= link_to 'Destroy', post33, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post33', new_post33_path %>
