<h1>Listing post277s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post277s.each do |post277| %>
  <tr>
    <td><%= link_to 'Show', post277 %></td>
    <td><%= link_to 'Edit', edit_post277_path(post277) %></td>
    <td><%= link_to 'Destroy', post277, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post277', new_post277_path %>
