<h1>Listing post154s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post154s.each do |post154| %>
  <tr>
    <td><%= link_to 'Show', post154 %></td>
    <td><%= link_to 'Edit', edit_post154_path(post154) %></td>
    <td><%= link_to 'Destroy', post154, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post154', new_post154_path %>
