<h1>Listing post354s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post354s.each do |post354| %>
  <tr>
    <td><%= link_to 'Show', post354 %></td>
    <td><%= link_to 'Edit', edit_post354_path(post354) %></td>
    <td><%= link_to 'Destroy', post354, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post354', new_post354_path %>
