<%= form_for(@post360) do |f| %>
  <% if @post360.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post360.errors.count, "error") %> prohibited this post360 from being saved:</h2>

      <ul>
      <% @post360.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
