<h1>Listing post301s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post301s.each do |post301| %>
  <tr>
    <td><%= link_to 'Show', post301 %></td>
    <td><%= link_to 'Edit', edit_post301_path(post301) %></td>
    <td><%= link_to 'Destroy', post301, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post301', new_post301_path %>
