<h1>Listing post264s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post264s.each do |post264| %>
  <tr>
    <td><%= link_to 'Show', post264 %></td>
    <td><%= link_to 'Edit', edit_post264_path(post264) %></td>
    <td><%= link_to 'Destroy', post264, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post264', new_post264_path %>
