<h1>Listing post284s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post284s.each do |post284| %>
  <tr>
    <td><%= link_to 'Show', post284 %></td>
    <td><%= link_to 'Edit', edit_post284_path(post284) %></td>
    <td><%= link_to 'Destroy', post284, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post284', new_post284_path %>
