<h1>Listing post498s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post498s.each do |post498| %>
  <tr>
    <td><%= link_to 'Show', post498 %></td>
    <td><%= link_to 'Edit', edit_post498_path(post498) %></td>
    <td><%= link_to 'Destroy', post498, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post498', new_post498_path %>
