<h1>Listing post362s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post362s.each do |post362| %>
  <tr>
    <td><%= link_to 'Show', post362 %></td>
    <td><%= link_to 'Edit', edit_post362_path(post362) %></td>
    <td><%= link_to 'Destroy', post362, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post362', new_post362_path %>
