<%= form_for(@post441) do |f| %>
  <% if @post441.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post441.errors.count, "error") %> prohibited this post441 from being saved:</h2>

      <ul>
      <% @post441.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
