<h1>Listing post441s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post441s.each do |post441| %>
  <tr>
    <td><%= link_to 'Show', post441 %></td>
    <td><%= link_to 'Edit', edit_post441_path(post441) %></td>
    <td><%= link_to 'Destroy', post441, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post441', new_post441_path %>
