<h1>Listing post410s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post410s.each do |post410| %>
  <tr>
    <td><%= link_to 'Show', post410 %></td>
    <td><%= link_to 'Edit', edit_post410_path(post410) %></td>
    <td><%= link_to 'Destroy', post410, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post410', new_post410_path %>
