<h1>Listing post463s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post463s.each do |post463| %>
  <tr>
    <td><%= link_to 'Show', post463 %></td>
    <td><%= link_to 'Edit', edit_post463_path(post463) %></td>
    <td><%= link_to 'Destroy', post463, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post463', new_post463_path %>
