<h1>Listing post361s</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post361s.each do |post361| %>
  <tr>
    <td><%= link_to 'Show', post361 %></td>
    <td><%= link_to 'Edit', edit_post361_path(post361) %></td>
    <td><%= link_to 'Destroy', post361, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post361', new_post361_path %>
